<h1>New Place</h1>
<br>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </p>
  <br>
  <p>
    <%= form.submit "Add Place", :class => "btn btn-success" %>
  </p>
<% end %>